.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  color: $btn-color;
  border: 1px solid $btn-border-color;
  margin: 28px 0;
}
