.content-container {
  padding-top: 105px;
  padding-bottom: 105px;

  @include grid-media-query(desk){
    padding-right: 5%;
    padding-left: 5%;
  }

  @include grid-media-query(portable){
    padding-right: 5%;
    padding-left: 5%;
  }
}

.content-container--socks {
  @include grid-media-query(stationary){
    padding-top: 210px;
    padding-bottom: 210px;
  }
}

.content-container--centered {
  @include grid-media-query(wide){
    width: 1160px;
  }

  @include grid-media-query(stationary){
    margin: 0 auto;
  }
}
