.logo {
  margin: auto;
}

.logo--header {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 70px 94px;
  width: 242px;
  height: 114px;
  margin: -142px 0 0 -215px;
}

.logo--history {
  display: block;
}

.logo--bg-purple {
  background-color: $purple;
}
