.section {
  width: 100%;
}

.section--header,
.section--socks {
  position: relative;
}

.section--header {
  @include grid-media-query(desk) {
      height: 800px;
  }
  height: 670px;
}

.section--patterned {
  background-image: url('../images/pattern.jpg');
  background-repeat: repeat;
}

.section--socks {
  overflow: hidden;
}

.section--colored {
  background-color: $colored-section-color;
}

.section--info-trigger{
  position: relative;

  &:before {
    top: 100%;
    border: solid transparent;
    border-width: 20px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: $colored-section-color;
    left: 50%;
    transform: translateX(-50%);
  }
}
